.one{
  height: 460px;
  background: #E9E9E9;
  width: 320px;
  float:left;
   margin: 10px;
   border-radius: 10px;
   margin-left: 200px;
   margin-top: 5px;
}
.two{
  height: 460px;
  background: #E9E9E9;
  width: 320px;
  float:left;
   margin: 10px;
   border-radius: 10px;
   margin-left: 55px;
   margin-right: 55px;
   margin-top: 5px;
}
.two:hover{
  background: #0F2F44;
  color: white;
}
.three{
  height: 460px;
  background: #E9E9E9;
  width: 320px;
  float:left;
   margin: 10px;
   border-radius: 10px;
   margin-top: 5px;
}
.three:hover{
  background: #0F2F44;
  color: white;
}
h3{
  color: gray;
  padding-left: 20px;
}
h2{
  padding-left: 20px;
}
a{
  padding-left: 20px;
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
.one:hover{
  background: #0F2F44;
  color: white;
}
.image{
  height: 237px;
  width: 260px;
  padding: 25px
}
.image1{
  height: 20px;
  width: 20px;
}
h1{
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  margin-top: -20px;

}
